click
Flask
Jinja2
MarkupSafe
Werkzeug
aniso8601
attrs
flask-restplus
importlib-metadata
itsdangerous
jsonschema
more-itertools
pyrsistent
pytz
six
scikit-learn
pandas
pyodbc
zipp

